# Practical_3: Iterable objects or Containers


---

### Exercise 1:
Create a list of integers from 1 to 10.

In [4]:
# Exercise 1
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [6]:
# Exercise 2
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')


---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

In [8]:
# Exercise 3
numbers = [10, 20, 30, 40]
numbers_tuple = tuple(numbers)
print(numbers_tuple)

(10, 20, 30, 40)


---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

In [10]:
# Exercice 4 
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}


---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

In [12]:
# Exercise 5
student = {
    "name": "Alice",
    "age": 20,
    "grade": "A"
}

print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}


---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

In [14]:
# Exercise 6
numbers = [10, 20, 30, 40, 50]
second_element = numbers[1]
print(second_element)

20


---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

In [16]:
# Exercise 7
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = "mango"
print(fruits)

['apple', 'banana', 'mango', 'orange']


---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

In [18]:
# Exercise 8
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}


---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

In [20]:
# Exercise 9
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")
print(person)

{'name': 'John', 'city': 'New York'}


---

### Exercise 10:
Create a range object starting from 0 to 9.

In [22]:
# Exercise 10
my_range = range(10)
print(my_range)
print(list(my_range))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [24]:
# Exercise 11
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

In [26]:
# Exercise 12
even_numbers = tuple(x for x in range(2, 11) if x % 2 == 0)
print(even_numbers)

(2, 4, 6, 8, 10)


---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

In [28]:
# Exercise 13
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry


---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

In [32]:
# Exercise 14
numbers = {1, 2, 3, 4, 5}
if 3 in numbers: 
    print("3 is the set")
else: 
    print("3 is not in the set")

3 is the set


---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

In [34]:
# Exercise 15
numbers = (10, 20, 30)
length = len(numbers)
print(length)

3


---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

In [44]:
# Exercise 16
scores = [80, 85, 90, 95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]


---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

In [46]:
# Exercise 17
def sum_of_list(numbers):
    return sum(numbers)

# Example usage:
my_list = [1, 2, 3, 4, 5]
total = sum_of_list(my_list)
print(total)

15


---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

In [48]:
# Exercise 18
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4, 5}


---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

In [50]:
# Exercise 19
s = "hello"
char_list = list(s)
print(char_list)

['h', 'e', 'l', 'l', 'o']


---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

In [52]:
# Exercise 20
def reverse_tuple(t):
    return t[::-1]

# Example usage
my_tuple = (1, 2, 3, 4)
reversed_tuple = reverse_tuple(my_tuple)
print(reversed_tuple)

(4, 3, 2, 1)


---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

In [54]:
# Exercise 21
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}


---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [56]:
# Exercise 22
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}


---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

In [58]:
# Exercise 23
my_dict = {"a": 1, "b": 2, "c": 3}

for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3


---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

In [60]:
# Exercise 24
letters = [chr(i) for i in range(97, 102)]  # ASCII codes for 'a' to 'e'
print(letters)

['a', 'b', 'c', 'd', 'e']


---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

In [62]:
# Exercise 25
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]

combined = list(zip(list1, list2))
print(combined)

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

In [64]:
# Exercise 26
my_list = [10, 20, 30, 40, 50]
index_of_50 = my_list.index(50)
print(index_of_50)

4


---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

In [66]:
# Exercise 27
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']


---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

In [68]:
# Exercise 28
def find_largest(numbers):
    if not numbers:
        return None  # or raise an error if preferred
    return max(numbers)

# Example usage
nums = [3, 7, 2, 9, 5]
largest = find_largest(nums)
print(largest)

9


---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

In [70]:
# Exercise 29
fruits = ["apple", "banana", "apple", "orange"]
apple_count = fruits.count("apple")
print(apple_count)

2


---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

In [72]:
# Exercise 30
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Access the value of the "city" key
city_value = person["city"]
print(city_value)

New York


---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

In [74]:
# Exercise 31
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

# Example usage
my_list = [1, 2, 2, 3, 4, 4, 5]
new_list = remove_duplicates(my_list)
print(new_list)

[1, 2, 3, 4, 5]


---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

In [76]:
# Exercise 32
def list_intersection(list1, list2):
    return list(set(list1) & set(list2))

# Example usage
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
intersection = list_intersection(a, b)
print(intersection)

[3, 4]


---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

In [78]:
# Exercise 33
squares = (x**2 for x in range(1, 11))

# Example usage
for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100


---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

In [80]:
# Exercise 34
def sum_dict_values(d):
    return sum(d.values())

# Example usage
my_dict = {"a": 10, "b": 20, "c": 30}
total = sum_dict_values(my_dict)
print(total)

60


---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

In [82]:
# Exercise 35
numbers = [3, 1, 4, 1, 5, 9]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 1, 3, 4, 5, 9]


---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

In [84]:
# Exercise 36
def longest_string(strings):
    if not strings:
        return None  # or raise an exception if preferred
    return max(strings, key=len)

# Example usage
words = ["apple", "banana", "cherry", "watermelon"]
longest = longest_string(words)
print(longest)

watermelon


---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

In [86]:
# Exercise 37
numbers = [1, 2, 3, 4, 5]
all_greater_than_zero = all(x > 0 for x in numbers)
print(all_greater_than_zero)

True


---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

In [88]:
# Exercise 38
squares = [(x, x**2) for x in range(1, 6)]
print(squares)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]


---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

In [90]:
# Exercise 39
def get_second_elements(tuples_list):
    return [t[1] for t in tuples_list if len(t) > 1]

# Example usage
data = [(1, 'a'), (2, 'b'), (3, 'c')]
second_elements = get_second_elements(data)
print(second_elements)

['a', 'b', 'c']


---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

In [92]:
# Exercise 40
def flatten_list(nested_list):
    return [item for sublist in nested_list for item in sublist]

# Example usage
nested = [[1, 2], [3, 4], [5, 6]]
flattened = flatten_list(nested)
print(flattened)

[1, 2, 3, 4, 5, 6]


---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

In [94]:
# Exercise 41
fruits = ["apple", "banana", "cherry"]

for index, value in enumerate(fruits):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry


---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

In [102]:
# Exercise 42
def is_tuple_empty(t):
    return len(t) == 0
my_tuple = ()
if is_tuple_empty(my_tuple):
    print("the tuple is empty")
else: 
    print("the tuple is not empty")

the tuple is empty


---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

In [104]:
# Exercise 43
even_numbers = list(range(2, 21, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

In [106]:
# Exercise 44
def reverse_list(numbers):
    return numbers[::-1]

# Example usage
nums = [1, 2, 3, 4, 5]
reversed_nums = reverse_list(nums)
print(reversed_nums)

[5, 4, 3, 2, 1]


---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

In [108]:
# Exercise 45
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}


---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

In [110]:
# Exercise 46
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(original_list))
print(unique_list)

[1, 2, 3, 4, 5]


---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

In [112]:
# Exercise 47
def get_values(dict_list, key):
    return [d.get(key) for d in dict_list if key in d]

dicts = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "city": "New York"}
]

ages = get_values(dicts, "age")
print(ages)

[25, 30]


---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

In [114]:
# Exercise 48
def fibonacci_generator(n):
    a, b = 0, 1
    count = 0
    while count < n:
        yield a
        a, b = b, a + b
        count += 1

for num in fibonacci_generator(10):
    print(num)

0
1
1
2
3
5
8
13
21
34


---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

In [116]:
# Exercise 49
def unique_chars(s):
    seen = set()
    result = []
    for char in s:
        if char not in seen:
            seen.add(char)
            result.append(char)
    return result

text = "hello world"
print(unique_chars(text))

['h', 'e', 'l', 'o', ' ', 'w', 'r', 'd']


---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

In [118]:
# Exercise 50
def merge_sorted_lists(list1, list2):
    merged = []
    i, j = 0, 0
    
    # Traverse both lists and append smaller element to merged
    while i < len(list1) and j < len(list2):
        if list1[i] <= list2[j]:
            merged.append(list1[i])
            i += 1
        else:
            merged.append(list2[j])
            j += 1
    
    # Append remaining elements (if any)
    merged.extend(list1[i:])
    merged.extend(list2[j:])
    
    return merged

a = [1, 3, 5, 7]
b = [2, 4, 6, 8]
print(merge_sorted_lists(a, b))

[1, 2, 3, 4, 5, 6, 7, 8]


---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

In [120]:
# Exercise 51
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]


---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

In [122]:
# Exercise 52
tuple_list = [(1, 2), (3, 4), (5, 6)]
result_dict = dict(tuple_list)
print(result_dict)

{1: 2, 3: 4, 5: 6}


---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

In [124]:
# Exercise 53
def symmetric_difference(set1, set2):
    return set1.symmetric_difference(set2)


a = {1, 2, 3}
b = {2, 3, 4}
result = symmetric_difference(a, b)
print(result)

{1, 4}


---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

In [126]:
# Exercise 54
def find_common_elements(list1, list2, list3):
    return list(set(list1) & set(list2) & set(list3))

list1 = [1, 2, 3, 4]
list2 = [2, 3, 5, 6]
list3 = [0, 2, 3, 7]

common = find_common_elements(list1, list2, list3)
print(common)

[2, 3]


---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

In [128]:
# Exercise 55
def factorial(n):
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers.")
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

# Example usage
print(factorial(5))

120


---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

In [130]:
# Exercise 56
fruits = ["apple", "", "banana", "", "cherry"]
filtered_fruits = [fruit for fruit in fruits if fruit != ""]
print(filtered_fruits)

['apple', 'banana', 'cherry']


---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

In [132]:
# Exercise 57
def swap_keys_values(d):
    return {value: key for key, value in d.items()}

# Example usage
original = {'a': 1, 'b': 2, 'c': 3}
swapped = swap_keys_values(original)
print(swapped)

{1: 'a', 2: 'b', 3: 'c'}


---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

In [134]:
# Exercise 58
def get_even_numbers(numbers):
    return [num for num in numbers if num % 2 == 0]

# Example usage
nums = [1, 2, 3, 4, 5, 6]
even_nums = get_even_numbers(nums)
print(even_nums)

[2, 4, 6]


---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

In [136]:
# Exercise 59
def get_first_elements(tuples_list):
    return [t[0] for t in tuples_list]

# Example usage
data = [(1, 'a'), (2, 'b'), (3, 'c')]
first_elements = get_first_elements(data)
print(first_elements)

[1, 2, 3]


---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

In [138]:
# Exercise 60
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = remove_duplicates(original_list)
print(unique_list)

[1, 2, 3, 4, 5]


---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

In [140]:
# Exercise 61
words = ["apple", "banana", "cherry"]
lengths = list(map(len, words))
print(lengths)

[5, 6, 6]


---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

In [142]:
# Exercise 62
def calculate_average(numbers):
    if not numbers:
        return 0  # Avoid division by zero
    return sum(numbers) / len(numbers)

num_list = [10, 20, 30, 40, 50]
average = calculate_average(num_list)
print("Average:", average)

Average: 30.0


---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

In [144]:
# Exercise 63
def generate_fibonacci(n):
    if n <= 0:
        return []
    fib = [0] if n == 1 else [0, 1]
    while len(fib) < n:
        fib.append(fib[-1] + fib[-2])
    return fib

print(generate_fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]


---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

In [146]:
# Exercise 64
from collections import Counter

fruits = ["apple", "banana", "apple", "cherry"]
counts = Counter(fruits)

print(counts)

Counter({'apple': 2, 'banana': 1, 'cherry': 1})


---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

In [148]:
# Exercise 65
def remove_all_occurrences(lst, value):
    return [item for item in lst if item != value]

# Example usage
my_list = [1, 2, 3, 2, 4, 2, 5]
value_to_remove = 2
result = remove_all_occurrences(my_list, value_to_remove)
print(result)

[1, 3, 4, 5]


---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

In [152]:
# Exercise 66
def strings_starting_with_vowel(strings):
    vowels = ('a', 'e', 'i', 'o', 'u')
    return [s for s in strings if s.lower().startswith(vowels)]

words = ["apple", "banana", "orange", "grape", "umbrella", "cherry"]
result = strings_starting_with_vowel(words)
print(result)

['apple', 'orange', 'umbrella']


---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

In [154]:
# Exercise 67
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection = set1.intersection(set2)
print(intersection)

{3, 4}


---

### Exercise 68:
Write a Python function that flattens a nested list.

In [156]:
# Exercise 68
def flatten(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten(item))
        else:
            flat_list.append(item)
    return flat_list

nested = [1, [2, [3, 4], 5], 6, [7, 8]]
flat = flatten(nested)
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8]


---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

In [158]:
# Exercise 69
def all_unique(lst):
    return len(lst) == len(set(lst))

my_list = [1, 2, 3, 4, 5]
print(all_unique(my_list))  # True

my_list_with_duplicates = [1, 2, 2, 3]
print(all_unique(my_list_with_duplicates))

True
False


---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

In [160]:
# Exercise 70
from functools import reduce
import operator

numbers = [1, 2, 3, 4, 5]

product = reduce(operator.mul, numbers)
print(product)

120


---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

In [162]:
# Exercise 71
def strings_to_lengths(strings):
    return {s: len(s) for s in strings}

words = ["apple", "banana", "cherry"]
lengths_dict = strings_to_lengths(words)
print(lengths_dict)

{'apple': 5, 'banana': 6, 'cherry': 6}


---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

In [164]:
# Exercise 72
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

text = "Hello, World!"
print(count_vowels(text))

3


---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

In [166]:
# Exercise 73
import math

factorials = [(i, math.factorial(i)) for i in range(1, 6)]
print(factorials)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]


---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

In [168]:
# Exercise 74
def merge_dicts(dict_list):
    merged = {}
    for d in dict_list:
        merged.update(d)
    return merged

dicts = [{"a": 1, "b": 2}, {"c": 3, "d": 4}, {"e": 5}]
merged_dict = merge_dicts(dicts)
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}


---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

In [170]:
# Exercise 75
def is_subset(set1, set2):
    return set1.issubset(set2)

a = {1, 2, 3}
b = {1, 2, 3, 4, 5}

print(is_subset(a, b))  # True
print(is_subset(b, a))

True
False


---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

In [177]:
# Exercise 76
tuples_list = [(1, 3), (4, 1), (5, 2), (2, 4)]

# Sort by second element
sorted_list = sorted(tuples_list, key=lambda x: x[1])

print(sorted_list)

[(4, 1), (5, 2), (1, 3), (2, 4)]


---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

In [179]:
# Exercise 77
def get_positive_integers(numbers):
    return [num for num in numbers if num > 0]

nums = [-3, 0, 2, 5, -1, 4]
positives = get_positive_integers(nums)
print(positives)

[2, 5, 4]


---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

In [181]:
# Exercise 78
def union_sets(set1, set2):
    return set1.union(set2)

a = {1, 2, 3}
b = {3, 4, 5}
result = union_sets(a, b)
print(result)

{1, 2, 3, 4, 5}


---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

In [183]:
# Exercise 79
from functools import reduce
import operator

def product_of_list(numbers):
    return reduce(operator.mul, numbers, 1)

nums = [2, 3, 4]
print(product_of_list(nums))

24


---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

In [185]:
# Exercise 80
chars = ['h', 'e', 'l', 'l', 'o']
result = ''.join(chars)
print(result)

hello


---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

In [187]:
# Exercise 81
def second_largest(numbers):
    unique_numbers = list(set(numbers))  # Remove duplicates
    if len(unique_numbers) < 2:
        return None  # No second largest if less than 2 unique numbers
    unique_numbers.sort()
    return unique_numbers[-2]

nums = [4, 1, 7, 7, 3, 9, 2]
print(second_largest(nums))

7


---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

In [189]:
# Exercise 82
def sorted_keys(d):
    return sorted(d.keys())

# Example usage
my_dict = {'b': 2, 'a': 1, 'c': 3}
print(sorted_keys(my_dict))

['a', 'b', 'c']


---

### Exercise 83:
Write a Python program that finds the most common element in a list.

In [191]:
# Exercise 83
from collections import Counter

def most_common_element(lst):
    if not lst:
        return None  # Handle empty list
    counter = Counter(lst)
    most_common = counter.most_common(1)[0][0]
    return most_common

items = ['apple', 'banana', 'apple', 'cherry', 'banana', 'apple']
print(most_common_element(items))

apple


---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

In [193]:
# Exercise 84
def sort_by_first_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[0])

tuples = [(3, 'c'), (1, 'a'), (2, 'b')]
sorted_tuples = sort_by_first_element(tuples)
print(sorted_tuples)

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

In [195]:
# Exercise 85
def remove_duplicate_dicts(dict_list):
    seen = set()
    unique_dicts = []
    for d in dict_list:
        # Convert dictionary items to a frozenset for hashability
        items = frozenset(d.items())
        if items not in seen:
            seen.add(items)
            unique_dicts.append(d)
    return unique_dicts

dicts = [
    {"a": 1, "b": 2},
    {"b": 2, "a": 1},
    {"a": 2, "b": 3},
    {"a": 1, "b": 2}
]

result = remove_duplicate_dicts(dicts)
print(result)

[{'a': 1, 'b': 2}, {'a': 2, 'b': 3}]


---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

In [197]:
# Exercise 86
def min_and_max(numbers):
    if not numbers:
        return None, None  # Handle empty list gracefully
    return min(numbers), max(numbers)

nums = [3, 1, 7, 4, 9]
minimum, maximum = min_and_max(nums)
print(f"Min: {minimum}, Max: {maximum}")

Min: 1, Max: 9


---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

In [199]:
# Exercise 87
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

tuples_list = list(zip(list1, list2))
print(tuples_list)

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

In [201]:
# Exercise 88
def reverse_list(strings):
    return strings[::-1]

words = ["apple", "banana", "cherry"]
reversed_words = reverse_list(words)
print(reversed_words)

['cherry', 'banana', 'apple']


---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

In [203]:
# Exercise 89
def sum_odd_numbers(numbers):
    return sum(num for num in numbers if num % 2 != 0)

nums = [1, 2, 3, 4, 5, 6]
print(sum_odd_numbers(nums))

9


---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

In [205]:
# Exercise 90
def is_palindrome(s):
    s = s.lower().replace(" ", "")  # Optional: ignore case and spaces
    return s == s[::-1]

text = "Racecar"
print(is_palindrome(text))  # Output: True

text2 = "Hello"
print(is_palindrome(text2))

True
False


---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

In [207]:
# Exercise 91
def find_median(numbers):
    if not numbers:
        return None  # Handle empty list

    sorted_nums = sorted(numbers)
    n = len(sorted_nums)
    mid = n // 2

    if n % 2 == 0:
        # Even number of elements: average the two middle ones
        return (sorted_nums[mid - 1] + sorted_nums[mid]) / 2
    else:
        # Odd number of elements: return the middle one
        return sorted_nums[mid]

nums = [3, 1, 4, 2, 5]
print(find_median(nums))

3


---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

In [223]:
# Exercise 92
def sum_dicts(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result

dicts = [
    {"a": 1, "b": 2},
    {"a": 3, "b": 4, "c": 5},
    {"b": 1, "c": 2}
]

print(sum_dicts(dicts))

{'a': 4, 'b': 7, 'c': 7}


---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

In [211]:
# Exercise 93
from collections import Counter

def find_mode(numbers):
    if not numbers:
        return None

    count = Counter(numbers)
    max_freq = max(count.values())
    modes = [num for num, freq in count.items() if freq == max_freq]

    # Return single mode if only one, else return list of modes
    return modes[0] if len(modes) == 1 else modes

nums = [4, 1, 2, 2, 3, 4, 4]
print(find_mode(nums))

4


---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

In [213]:
# Exercise 94
def sum_of_squares(numbers):
    return sum(x**2 for x in numbers)

nums = [1, 2, 3, 4]
print(sum_of_squares(nums))

30


---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

In [215]:
# Exercise 95
# Create list of tuples (number, cube)
cubes = [(x, x**3) for x in range(1, 6)]

print(cubes)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]


---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

In [219]:
# Exercise 96
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def primes_up_to_n(n):
    return [x for x in range(2, n + 1) if is_prime(x)]

print(primes_up_to_n(20))

[2, 3, 5, 7, 11, 13, 17, 19]


---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

In [221]:
# Exercise 97
def common_keys(dict1, dict2):
    return list(dict1.keys() & dict2.keys())

dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'c': 5, 'd': 6}

print(common_keys(dict1, dict2))

['c', 'b']


---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

In [225]:
# Exercise 98
def strings_longer_than_five(strings):
    return [s for s in strings if len(s) > 5]

words = ["apple", "banana", "kiwi", "strawberry", "fig", "orange"]
result = strings_longer_than_five(words)
print(result)

['banana', 'strawberry', 'orange']


---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

In [227]:
# Exercise 99
def strings_to_tuples(strings):
    return [(s, len(s)) for s in strings]

words = ["apple", "banana", "cherry"]
result = strings_to_tuples(words)
print(result)

[('apple', 5), ('banana', 6), ('cherry', 6)]


---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

In [229]:
# Exercise 100
def sum_values(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result

dicts = [
    {"a": 1, "b": 2},
    {"a": 3, "b": 4, "c": 5},
    {"b": 1, "c": 2}
]

print(sum_values(dicts))

{'a': 4, 'b': 7, 'c': 7}


---